*,html,body,p,ul,li,h1,h2,h3,h4,h5,h6{padding:0;margin:0}
html {
	height: 100%;
}
@font-face{font-family:'Roboto';font-style:normal;font-weight:400;src:local(Roboto),local(Roboto-Regular),url(//fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format("woff")}
@font-face{font-family:'Roboto';font-style:bold;font-weight:700;src:local('Roboto Bold'),local(Roboto-Bold),url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff")}
body{font-family:'Roboto',Arial,Geneva,sans-serif;font-size:16px;font-weight:400;font-style:normal; min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{padding-left:0;padding-right:0;}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.row{margin-right:0;margin-left:0;}
/*header css starts*/
header{
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fec384), to(#fefef2));
    background: -webkit-linear-gradient(top, #fefef2, #f9f4ab, #fec384);
    background: -moz-linear-gradient(top, #fefef2, #f9f4ab, #fec384);
    background: -ms-linear-gradient(top, #fefef2, #f9f4ab, #fec384);
    background: -o-linear-gradient(top, #fefef2, #f9f4ab, #fec384);
}
header .container {
 max-width: 1024px;
}
/*.header-right {
	max-width: 440px;
	float: right;
}*/
.logo {padding-left: 40px;}
.hd-banner-wrapper {
    position: relative;
    width: 366px;
    padding-top: 32px;
    margin-top: 8px;
}
.date-container {
    text-align: right;
    margin-top: 6px;
}
.date-info {
    background: #ffce9d;
    font-size: 14px;
    color: #da0505;
    font-weight: bold;
    display: inline-block;
    padding: 2px 6px;
}
.banner-info{
    background: #ffa54d;
    position:relative;
}
.banner-title {
    color: #ce4e00;
    font-size: 12px;
    letter-spacing: 4px;
    padding: 15px 0 1px 0;
    padding-left: 0px;
}
.banner-txt {
    font-size: 22px;
    color: #cc0b00;
    font-weight: bold;
}
.banner-txt span {font-size: 14px;}
.banner-info:after{
    content: '';
    position: absolute;
    width: 0;
    border: 8px solid;
    border-color: #c74237 #c74237 transparent transparent;
    border-width: 5px 15px;
    bottom: -10px;
    left: 0;
}
.banner-add {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    padding: 3px 0 20px 0;
    padding-left: 0px;
}
.banner-info p {padding-left: 14px;}
.association-wrapper {
    padding-top: 33px;
}
.association-col-1 {
    float: left;
    font-size: 12px;
    color: #3e3e3e;
    font-weight: bold;
    /*border-right: 2px solid #9a9a9a; */
    padding: 0 6px 42px 0;
    /*margin-right: 3px; */
}
.association-col-1::after {
	content: "";
	border-right: 2px solid #9a9a9a;
	position: absolute;
	right: 2px;
    top: 10px;
    height: 85%;
}
.association-col-1 span {
    position: absolute;
    top: 40%;
}
.association-col-2 {float: left;}
.img-container {float: left;}
.apppah-title {
    color: #2f64a2;
    font-size: 22px;
    font-weight: bold;
}
.txt-container {padding: 19px 0 0 6px;}
.apppah-txt {
    font-size: 10px;
    color: #595852;
	line-height: 120%;
}
.header-left.row, .header-right.row {
    margin: 0;
}
.header-left.row div, .header-right.row div {
    padding-left: 0;
    padding-right: 0;
}
.hd-lft-text-container {
    max-width: 360px;
}
/*header css ends*/

/*navigation css starts*/
.navbar, .navbar .container-fluid {
	padding: 0;
}
.nav-main-container{margin: 0 auto;}
.nav-main-container .container{width:1024px;padding: 0;}
.nav-link{display: inline-block;}
.navbar-collapse {
background: rgba(146,35,51,1); 121.  background: #832d2c; /* Old browsers */
background: -moz-linear-gradient(top, rgba(146,35,51,1) 0%, rgba(188,10,1,1) 100%); 122.  background: -moz-linear-gradient(top, #832d2c 0%, #c90104 100%); /* FF3.6-15 */
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(146,35,51,1)), color-stop(100%, rgba(188,10,1,1))); 123.  background: -webkit-linear-gradient(top, #832d2c 0%,#c90104 100%); /* Chrome10-25,Safari5.1-6 */
background: -webkit-linear-gradient(top, rgba(146,35,51,1) 0%, rgba(188,10,1,1) 100%);background: linear-gradient(to bottom, #832d2c 0%,#c90104 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
background: -o-linear-gradient(top, rgba(146,35,51,1) 0%, rgba(188,10,1,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#832d2c', endColorstr='#c90104',GradientType=0 ); /* IE6-9 */
border-top: solid 1px #fff;
font-size: 14px;
padding: 0;
}
.navbar a {
color: #fff;
font-size: 16px;
font-weight: bold;
line-height: 120%;
}
.dropdown-toggle::after{display:none;}
.navbar .dropdown-menu .dropdown-item{font-size:14px;font-weight:normal;}
.navbar-expand-lg .navbar-nav .nav-link.current, .navbar-expand-lg .navbar-nav .nav-link:hover, .navbar-expand-lg .navbar-nav .nav-item.dropdown.show .nav-link  {
	background: rgba(202,37,11,1);
background: -moz-linear-gradient(top, rgba(202,37,11,1) 0%, rgba(233,75,3,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(202,37,11,1)), color-stop(100%, rgba(233,75,3,1)));
background: -webkit-linear-gradient(top, rgba(202,37,11,1) 0%, rgba(233,75,3,1) 100%);
background: -o-linear-gradient(top, rgba(202,37,11,1) 0%, rgba(233,75,3,1) 100%);
background: -ms-linear-gradient(top, rgba(202,37,11,1) 0%, rgba(233,75,3,1) 100%);
background: linear-gradient(to bottom, rgba(202,37,11,1) 0%, rgba(233,75,3,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca250b', endColorstr='#e94b03', GradientType=0 );
}
.dropdown-menu {
  background: #F24A01;
  padding: 0;
 }
 .dropdown-item{
  padding: 0.95rem 1.5rem
 }
 .dropdown-menu{ 
  border: none; 
  border-radius: 0;
  margin: 0;
 }
.dropdown-item:focus, .dropdown-item:hover {
    background-color: #ffa54f; 
}
.dropdown-toggle::after{ display: none;}
.dropdown:hover .dropdown-menu {
    display: block;
}
/*navigation css ends*/
/*about conference css starts here*/
.cnf-info-wrapper{margin:0 auto;width:1024px;}

/*main banner css starts here*/
.main-banner-wrapper{
	background: url(../images/conf-info-banner.png)no-repeat;
	text-align:center;
	font-size: 15px;
	font-weight: bold;
	color: #515f6a;
	padding-top: 9px;
	height:321px;
}
.main-ban-txt {
    font-size: 19px;
	letter-spacing: 3px;
	line-height: 127%;
	font-weight: 600;
}
.normal-text{ font-weight: normal;}
.main-ban-title {
    font-size: 45px;
    text-shadow: 2px 2px 1px #fff;
	line-height: 111%;
	padding-top: 9px;
	padding-bottom: 30px;
	letter-spacing: 2px;
}
/*main banner css ends here*/

/*red msg css starts here*/
.red-msg-wrapper{
	background-image: repeating-linear-gradient(145deg, #ba0100, #ba0100 5px, #c62c2b 0px, #c62c2b 6px);
	border-bottom: 1px solid #fff;
	text-align: center;
	font-size: 22px;
	color: #fff;
	margin-top:27px;
	padding-top: 12px;
}
.red-msg-bold{font-size: 26px;font-weight:bold;padding: 13px 0 15px 0;}
.red-msg-shadow{
	height:35px;
}
.red-msg-shadow img {
 float: left
}
/*red msg css ends here*/

/*objective css starts here*/
.objective-wrapper{
    padding: 5px 0 59px 0;
}
.obj-bold {
    text-align: right;
    padding: 4px 10px 0 0;
    font-size: 26px;
    font-weight: bold;
    color: #555;
}
.obj-txt{
	padding-left: 60px;
	font-size: 15px;
	color: #555;
	font-weight: 600;
	line-height: 150%;
}
/*objective css ends here*/

/*members css starts here*/
.participate{
	background-image: repeating-linear-gradient(145deg, #ffce9d, #ffce9d 5px, #ffdcb8 0px, #ffdcb8 6px);
	font-size: 14px;
	color:#555;
	padding: 36px 40px 140px 40px;
}
.participate h2,.speakers-circle h2 {
    font-size: 26px;
    font-weight: bold;
    color: #555;
	padding-bottom: 2px;
}
.speakers {
    background: #fff4ea;
	padding: 14px 0;
}
.speakers-circle{
    border-radius: 286px;
    background: #df2b28;
    width: 286px;
    height: 286px;
	margin: 0 auto;
	color:#fff;
	padding: 34px 0;
}
.speakers-circle h2{
	text-align: center;
	color:#fff;
	padding-bottom: 2px;
}
.speakers-circle p{
	text-align: center;
	font-size: 18px;
	padding: 0 25px;
}
.members-wrapper {
    margin-bottom: 72px;
}
/*members css ends here*/

/*event details starts*/
.event-details {
	padding:25px 0 0 27px;
	color: #555;
}
.event-details .row {
    margin: 0;

}
.event-details .col-sm {
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(241,241,241,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(100%, rgba(241,241,241,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(241,241,241,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(241,241,241,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(241,241,241,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(241,241,241,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1', GradientType=0 );
	border: solid 1px #888;
	margin: 0 25px 0 0;
	padding-bottom: 17px;
}
.event-details .col-sm p {
	font-size: 12px;
	padding: 13px 0 0 15px;
}
.event-details .col-sm h3 {
	font-size: 20px;
    padding: 13px 0 6px 15px;
	font-weight: 500;
}
.event-details .col-sm h4 {
	font-size: 12px;
    padding-left: 15px;
}
/*event details ends*/

/*program details starts*/
	.cover{
	  background: #fff;
	  width: 200px;
	  height: 200px;
	  border-radius: 100px;
	  padding: 10px;
	  display: inline-block;
	  margin: 30px auto 5px;
	  -webkit-box-shadow: 0px 1px 14px 0px rgba(0,0,0,0.08);
	-moz-box-shadow: 0px 1px 14px 0px rgba(0,0,0,0.08);
	box-shadow: 0px 1px 14px 0px rgba(0,0,0,0.08);
	}
	.cover:hover {
		box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.7);
	}
	.inner{
	  background: #fece9d;
	  width: 181px;
	  height: 181px;
	  border-radius: 90px;
	  padding-top: 65px;
	  cursor: pointer;
	}
	
	.program-details .inner h3 {
	    color: #be2a0f;
	    font-weight: bold;
		font-size: 36px;
	}
	p.date {
		font-size: 22px;
		text-align: center;
		margin-bottom: 2px;
	}
	.program-details .inner h4 {
	    font-size: 1.1rem;
	}
	
	.program-details .col-sm:nth-child(2) .cover .inner {
	    background: #ffe8d2;
	}
	.modal-header {
	    border: none;
	}
	/*program details ends*/
	
	/*advisory committee css starts here*/
	.advisory-committee .row, .executive-committee .row {
		padding: 30px 0;
	}
	.advisory-committee .row .col-sm, .executive-committee .row .col-sm {
		margin-right: 30px;
	}
	.advisory-committee h2, .advisory-committee h3, .executive-committee h2, .executive-committee h3 {
		font-weight: bold;
	}
	.advisory-committee h2, .executive-committee h2, .container h2 {
		font-size: 24px;
		text-transform: uppercase;
		margin-top: 20px;
	}
	.advisory-committee h3, .executive-committee h3 {
		font-size: 18px;
		color: #3b67a7;
		margin-bottom: 5px;
	}
	.advisory-committee h4, .executive-committee h4 {
		font-size: 14px;
	}
	/*advisory committee css ends here*/

/*About the Venue*/
.mobile {
  display: none;
}
.hero-section {
    background: url(../images/abt-venue.png)no-repeat;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    padding-top: 9px;
    height: 321px;
    position: relative;
  }
  .hero-txt {
    width: 50%;
    float: right;
    position: absolute;
    bottom: 40px;
    right: 0;
    letter-spacing: .15em;
    text-shadow: 2px 0 0px #515F6A;
  }
.about-venue h1 {
font-size: 26px;
font-weight: bold;
color: #555;
padding-bottom: 5px;
margin-top: 40px;
}
.about-venue h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 50px 0 30px;

}
.about-venue h3 {
font-size: 16px;
border-top: 2px solid #CC0B00;
border-bottom: 2px solid #CC0B00;
padding: 5px 0;
width: 50%;
margin: 35px auto 25px;

}

.about-venue .main-points div{
  text-align: center;
}
.about-venue .main-points p {
width: 80%;
font-size: 14px;
margin: 0 auto;
}
.means-structure {
	position: relative;
}

.means-structure .diamond {
	width: 120px;
	height: 120px;
	border-radius: 10px;
	margin: 10px;
	position: relative;
	background-color: #FFA54D;
	-ms-transform: rotate(45deg);
	/* IE 9 */
	-webkit-transform: rotate(45deg);
	/* Safari 3-8 */
	transform: rotate(45deg);
	margin-left: 40px;
}

.means-structure ul {
	list-style: none;
	position: relative;
}

.means-structure ul li {
	display: table-cell;
	width: 178px;
}

.means-structure span {
	display: block;
    text-align: center;
    top: 60px;
    position: absolute;
    width: 124px;
    z-index: 1;
    margin-left: 39px;
    color: #fff;
    font-weight: bold;
    font-size: 0.938em;
    text-transform: uppercase;
}

.means-structure span.multi-line-txt {
	top: 42px;
	margin-left: 38px;
}
.means-structure span.two-line-txt {
	top: 50px;
	margin-left: 38px;
}

.means-box-color-org {
	background-color: #FFA54D;
}

.means-box-color-blue {
	background-color: #515F6A !important;
}

.row-01 {
	left: 89px;
    top: 53px;
}

.row-02 {
	left: 0;
}

.row-03 {
	left: 89px;
    top: -52px;
}

.row-04 {
	left: 0;
	top: -105px;
}

.means-structure .big-diamond {
	width: 244px;
    height: 244px;
    position: absolute;
    top: -63px;
    margin-left: 65px;
    background: #fff;
    border: 2px solid #515F6A;
}
.info-section {
	padding-right: 15px;
    padding-left: 15px;
}

.means-structure .big-diamond-txt {
	color: #000;
    width: auto;
    top: 48px;
    margin-left: 67px;
    text-transform: none;
}

.means-structure .big-diamond-txt a {
	color: #CC0B00;
}
.bottom-txt {
	width: 330px;
	position: relative;
	font-size: 14px;
	top: -160px;
  }



/*About the Venue Ends*/

/*footer css starts here*/
footer {
    grid-row-start: 2;
  	grid-row-end: 3;
    width: 100%;
    background: #333333;
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding: 29px 0 19px 0;
	font-weight: bold;
}
ul.ft-link{margin:0 auto;width:832px;}
ul.ft-link li{float:left;font-size: 16px;margin-right:114px;list-style:none;}
ul.ft-link li.last{margin-right: 0;}
.ft-link li a {color: #fff;text-decoration: underline;cursor: pointer;}
.ftr-link-wrapper {
    margin-bottom: 18px;
}
footer .copyright {padding-top: 16px;}



/* Icon 1 */

.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon span {
    background: #e65100;
}

.animated-icon span:nth-child(1) {
  top: 0px;
}

.animated-icon span:nth-child(2) {
  top: 10px;
}

.animated-icon span:nth-child(3) {
  top: 20px;
}

.animated-icon.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

button.navbar-toggler:focus {
	outline: none;
}


/*footer css ends here*/
/*media Queries starts here*/
@media only screen and (max-width: 1024px){
	.means-structure .diamond {
		width: 100px;
		height: 100px;
		margin: 10px;
	}
	.means-structure ul {
		width: 700px;
	}
	.means-structure ul li {
		width: 150px;
	}
	.means-structure span {
		top: 48px;
		width: 100px;
		font-size: 0.813em;
		margin-left: 10px;
	}
	.means-structure span.multi-line-txt {
		top: 28px;
		margin-left: 10px;
	}
	.row-01 {
		left: 75px;
		top: 50px;
	}
	.row-03 {
		left: 75px;
		top: -50px;
	}
	.row-04 {
		left: 0;
		top: -100px;
	}
	.means-structure .big-diamond {
		width: 204px;
		height: 204px;
		top: -47px;
		margin-left: 32px;
	}
	.means-structure .big-diamond-txt {
		top: 47px;
		margin-left: 23px;
	}
	.means-structure span.two-line-txt {
		top: 43px;
		margin-left: 8px;
	}
	.bottom-txt {
		top: -130px;
	}
}

@media (min-width: 980px){
	.navbar-nav {
		display: table;
		width: 100%;
	}
	.navbar-expand-lg .navbar-nav .nav-item {
		display: table-cell;
		text-align: left;
		width: auto;
	}
.program-details {
	margin: 50px auto 100px;
	width: 800px;
}
.advisory-committee, .executive-committee {
	 margin:  0 auto 50px;
	 width: 980px;
} 
header .header-left img {
  width: 90%;
 }
	.association-wrapper img[alt=Apppah]{
		margin-top: 18px;
	}
}
@media (min-width: 992px){
	.navbar-expand-lg .navbar-nav .nav-link{padding: 11px 13px 9px 13px;}
}
@media (min-width: 0) and (max-width: 979px){
	.hd-lft-text-container {
        max-width: 100%;
    }
 .apppah-title, .apppah-txt {
    float: left;
    padding:0;
	line-height: normal;
  }
  .association-col-1, .txt-container  {
    padding-top: 0;
    padding-bottom: 0;
  }
	.txt-container {
	    position: absolute;
		right: 0;
		top: 38%;
	  }
  .association-col-1 {
    padding-top: 10px;
	font-size: 62%;
  }
  .apppah-title {
    font-size: 90%;
    padding-right: 5px;
  }
  .apppah-txt {
	font-size: 70%;
  }
  .association-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
  }
  .banner-info {
    background-color: transparent;
    text-align: center;
  }
  .banner-info:after {
    display: none;
  }
  .banner-add {
    color: #000;
  }
  .date-info {
    display: block;
    text-align: center;
    color: #000;
    background: transparent;
  }
  .date-info::after, .date-info::before {
    width: 30%;
    background-color: #fff;
    content: "";
    height: 2px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 10px;
  }
  .date-info::before {
    right: 0;
	left: auto;
  }
    
	.navbar {
	    position: absolute;
	    top: 0;
	    width: 80%;
	}
	.navbar-toggler-right {
	    position: absolute;
	    right: 1rem;
	    top: 15px;
	}

	.custom-toggler.navbar-toggler {
		background: transparent;
	    border: none;
	    position: fixed;
	    right: 0;
	}
	.custom-toggler .navbar-toggler-icon {
	  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(186,1,0, 0.7)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}
	.navbar-collapse .container {
		padding: 0;
		max-width: 100%;
	}
	.navbar-nav .nav-link {
		padding-left: 10px;
		padding-right: 10px;
	}
	.header-left img[alt=Manashakti] {
		height: 110px;
	}
	.date-container {
		margin-top: 0px;
	}
	.banner-title {
		letter-spacing: 2px;
		font-weight: bold;
		margin: 0;
		padding: 0;
	}
	.banner-info p {
		padding: 0;
	}
	.banner-txt {
		line-height: normal;
	}
	.banner-txt span {
		display: block;
	}
	header .container {
		padding: 0;
		max-width: 100%;
	}
	.header-right {
		max-width: 650px;
		float: none;
		margin: 0 auto !important;
	  }
	  .program-details {
		margin: 50px auto 100px;
	}
	.advisory-committee, .executive-committee { margin: 0 auto 50px; }
	/*cnf info css*/
	.cnf-info-wrapper{width: 100%;}
	/*cnf info css*/
	.nav-main-container .container{width:100%;padding: 0;}
	.nav-link{display: block;}
}
@media (min-width: 768px) and (max-width: 979px){
	.participate{padding-bottom:97px;}
	
	  .association-col-1 {
		font-size: 95%;
		padding-top: 20px;
	  }
	  .apppah-title {
		text-align: center;
		padding-top: 0;
	  }
	  
	  /*cnf info css*/
	
	ul.ft-link{width: 700px;}
	ul.ft-link li{margin-right: 73px;}
	/*cnf info css*/
 /*About the Venue*/
 .about-venue h3 {
	width: 65%;
 }
    .means-structure .diamond {
      width: 80px;
      height: 80px;
      margin: 10px;
	}
	.means-structure ul {
		width: 600px;
	}
    .means-structure ul li {
      width: 116px;
    }
    .means-structure span {
      top: 40px;
      width: 100px;
      font-size: 0.688em;
      margin-left: 0px;
    }
    .means-structure span.multi-line-txt {
      top: 24px;
      margin-left: 0px;
	}
	.means-structure span.two-line-txt {
		top: 39px;
		margin-left: 0px;
	}
    .row-01 {
      left: 58px;
  top: 42px;
    }
    .row-03 {
      left: 58px;
  top: -42px;
    }
    .row-04 {
      left: 0;
  top: -85px;
    }
    .means-structure .big-diamond {
      width: 162px;
  height: 162px;
  top: -42px;
  margin-left: 28px;
    }
    .means-structure .big-diamond-txt {
      top: 34px;
  margin-left: 22px;
	}
	.bottom-txt {
		width: 270px;
		position: relative;
		font-size: 14px;
		top: -120px;
	}
    /*About the Venue Ends*/
}
@media (min-width: 0px) and (max-width: 767px){
	.event-details{padding: 10px 0 0 10px;}
	.event-details .col-sm h3{font-size:16px;}
	.event-details .col-sm.col-6{max-width:46.7%; margin:0 10px 10px 0;}
	.event-details .col-sm{width:100%;margin-right:10px;}
	.red-msg-wrapper{margin-top: 10px;font-size: 13px;padding-top: 6px;}
	.red-msg-bold{font-size:14px;padding: 2px 0 8px 0;}
	.obj-bold{text-align: left;padding-left:10px;}
	.obj-txt{padding-left:10px;}
	.objective-wrapper{padding: 1px 0 3px 0;}
	.main-ban-title{font-size: 20px;line-height: 28px;}
	.members-wrapper{margin-bottom: 0;}
	.speakers-circle{border-radius: 0;background: none;width: 100%;height: auto;color: #555;padding: 0;}
	.speakers-circle p{text-align: left;font-size: 14px;padding: 0 14px;}
	.speakers-circle h2{text-align: left;color: #555;padding-left: 14px;}
	.speakers{padding: 11px 0;}
	.participate{padding: 11px 40px 10px 14px;}
	footer{padding: 19px 0 19px 0;}
	ul.ft-link{width: 90%;}
	ul.ft-link li{margin-right:0;font-size:14px;width: 50%;text-align: left;margin-bottom: 4px;}
	ul.ft-link li:nth-child(2),ul.ft-link li:nth-child(4){padding-left: 10px;}
	footer .copyright{padding-top: 8px;}	
	.advisory-committee .row, .executive-committee .row { padding: 0; }
	.advisory-committee .row .col-sm, .executive-committee .row .col-sm { margin: 15px 0; }

/*About the Venue*/


.hero-txt {
	width: 100%;
}
.means-structure.mobile .diamond {
	width: 140px;
height: 140px;
	border-radius: 10px;
	position: relative;
	background-color: #FFA54D;
	-ms-transform: none;
	/* IE 9 */
	-webkit-transform: none;
	/* Safari 3-8 */
	transform: none;
	margin: 10px auto;
}
.diamond {
	display: flex;
	justify-content: center;
	align-items: center;
}
.means-structure ul li {
	display: table-cell;
	width: 40%;
}
.means-structure.mobile .col-xs-6 {
  width: 50%;
}

.means-structure span {
	display: block;
text-align: center;
top: auto;
position: absolute;
width: 100px;
z-index: 1;
margin-left: 0;
color: #fff;
font-weight: bold;
font-size: 0.750em;
}

.means-structure span.multi-line-txt {
	/* top: 32px; */
margin-left: 0;
}

.means-box-color-org {
	background-color: #FFA54D;
}

.means-box-color-blue {
	background-color: #515F6A !important;
}

.row-01 {
	left: 0;
	top: 0;
}

.row-02 {
	left: 0;
}

.row-03 {
	left: 0;
	top: 0;
}

.row-04 {
	left: 0;
	top: 0;
}
.row-06 {
	margin-bottom: 40px;
}
.means-structure.mobile .row-06 li {
width: 100%;
display: block;
}

.means-structure.mobile .row-06 .big-diamond {
	width: 300px;
  height: 100px;
  background: #fff;
  border: 2px solid #515F6A;
  margin-top: 56px;
}
.means-structure.mobile .big-diamond-txt {
	color: #000;
width: 100%;
top: 30px;
margin: 0 auto;
}

.means-structure.mobile .big-diamond-txt a {
	color: #CC0B00;
}

.mobile {
  display: block;
}
.desktop{
  display: none
}
.bottom-txt {
	top: -60px;
	width: 100%;
}
.means-structure.mobile .diamond.box-left{
	float: right;
	margin-right: 10px;
}
.means-structure.mobile .diamond.box-right{
	float: left;
	margin-left: 10px;
}

/*About the Venue Ends*/

}
@media (min-width: 576px) and (max-width: 979px){ 
	.apppah-title {
		font-size: 100%;
	}
	.apppah-txt {
	    font-size: 80%;
	}
	.association-col-1::after {
		right: 10px;
	}
}
@media (min-width: 0px) and (max-width: 576px){
	.association-col-1::after {
		height: 75%;
	}
	.txt-container {
		top: 25%;
	}
	.apppah-title {
	    margin-top: 13px;
		font-size: 13px;
		text-align: center;
	}
	.association-col-1::after {
		right: 1px;
	}
	.association-col-1 {
		font-size: 68%;
	}
	img[title=Apppah] {
		margin-top: 15px;
	}
	.txt-container {
		position: static;
	}
	.association-col-1 {
		padding: 0px;
	}
}